<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <add name="TestingDb" connectionString="Data Source=(local);Initial Catalog=TestingDb;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>