<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  internalLogFile="c:\GWI\NLog.log"
  internalLogLevel="Error">

  <variable name="logfileName" value="Germanwings.Logging.NLogAdapter.log" />

  <!-- sub-templates -->

  <variable name="environmentNotFound" value="[Environment not found]" />
  <variable name="environmentLayout" value="${whenEmpty:whenEmpty=${environmentNotFound}:inner=${event-context:item=Environment}}" />

  <variable name="exceptionLayout" value="${exception:format=tostring:separator= | :innerFormat=tostring,message:maxInnerExceptionLevel=7:innerExceptionSeparator= | }" />


  <!-- full templates -->

  <variable name="fileLayout" value="${longdate:universalTime=true} | ${environmentLayout} | ${level:uppercase=true} | ${logger} | ${message}${onexception:${newline}${exceptionLayout}}" />
  <variable name="debuggerLayout" value="GELO » ${level:uppercase=true} | ${message}${onexception:${newline}${exceptionLayout}}" />

  <targets>

    <target xsi:type="File" name="logfile" layout="${fileLayout}" fileName="${logfileName}" archiveEvery="Day" fileAttributes="Archive" archiveNumbering="Date" archiveDateFormat="yy-mm-dd" />

    <target xsi:type="Debugger" name="debugger" layout="${debuggerLayout}" />

    <target xsi:type="Database" name="TestLog" commandText="[dbo].[TestLog]" dbProvider="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=TestDb;Integrated Security=True;Connect Timeout=30">
      <parameter name="@Timestamp" layout="${longdate:universalTime=true}" />
      <parameter name="@LogLevel" layout="${level:uppercase=true}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception" layout="${onexception:${exceptionLayout}}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="debugger" enabled="true" />
    <logger name="*" minlevel="Trace" writeTo="TestLog" enabled="true" />
  </rules>
</nlog>